.black-cont {
  display: flex;
  flex-direction: column;
  background-color: #0c0c0c;
  height: cover;
  padding: 30px;
  width: cover;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.footer-cont {
  display: flex;
  padding: 5px;
  flex-direction: row;
  color: #ffffff;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 400;
  text-align: left;
  margin: 10px;
}
.head-pad {
  padding: 10px;
}
.footer-cont {
  height: 20px;
  width: 15px;
  margin: 10px;
  padding: 10px;
}
.mail-cont {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.col {
  color: bisque;
}
